<p>Список всех платежей находится в личном кабинете в разделе Историяю.</p>

<h3>В первой колонке:</h3>

<ul>
  <li>Идентификатор платежа (номер транзакции в нашем сервисе).</li>
  <li>Дата и время, когда деньги списаны с покупателя.</li>
</ul>

<h3>Во второй колонке:</h3>

<ul>
  <li>Описание платежа. Сюда выводится информация, которую вы можете передать в Яндекс.Кассу при оплате — номер заказа, описание, что угодно другое. Покупатель видит это описание во время оплаты. Если вы работаете с Кассой по API, описание платежа можно передать в запросе на оплату в поле description.</li>
</ul>

<h3>В третьей колонке:</h3>

<ul>
  <li>Статус платежа.</li>
  <li>Дата и время присвоения этого статуса. Например, при статусе Успешный платёж здесь указана дата и время зачисления денег на ваш счёт.</li>
</ul>

<h3>В четвертой колонке:</h3>

<ul>
  <li>Способ оплаты.</li>
  <li>Сумма платежа.</li>
  <li>Кнопка возврата (для успешных платежей). Она открывает форму для создания заявки на возврат денег покупателю. См. Возвраты</li>
</ul>
