<h3>Статусы платежей:</h3>

<dl>
	<dt>Успешный платеж</dt>	<dd>Платеж прошел успешно.</dd>
	<dt>Не оплачен</dt>	<dd>Процесс платежа начат, но не закончен. Деньги не зачислены.</dd>
	<dt>В обработке</dt>	<dd>Процесс платежа начат, но не закончен. Например, при платежах с предавторизацией.</dd>
	<dt>Частичный возврат</dt>	<dd>Для частично возвращённых платежей: прошёл успешно, часть денег вернулась покупателю.</dd>
	<dt>Возврат</dt>	<dd>Для полностью возвращённых платежей: прошёл успешно, деньги вернулись покупателю.</dd>
	<dt>Отмена</dt>	<dd>Для платежей с предавторизацией: платёж начат, но отменён после первой фазы.</dd>
	<dt>Ошибка при оплате</dt>	<dd>Платеж не прошел из-за ошибки.</dd>
	<dt>Ожидает подтверждения</dt>	<dd>Для платежей с предавторизацией: платёж начат, но не подтверждён.</dd>
Если платеж прошёл с ошибкой, под ним появится сообщение с кодом ошибки и её описанием.
</dl>
